* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    list-style: none;
}

i {
    display: block !important;
}

body {
    background-color: rgb(233, 233, 233);
}

section.container {
    display: flex;
    flex-direction: column;
}

section.creator form {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.creator form h1 {
    font-size: 70px;
}

section.creator form .name {
    font-size: 20px;
    width: 40%;
    height: 5vh;
    margin: 5px;
    text-align: center;
    resize: none;
}

section.creator form .description {
    font-size: 20px;
    width: 40%;
    height: 10vh;
    margin: 5px;
    text-align: center;
    resize: none;
}

section.creator form button {
    margin-top: 10px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(0, 183, 255);
    cursor: pointer;
    transition: 0.2s;
}

section.creator form button:hover {
    box-shadow: 0px 0px 15px 10px rgba(0, 183, 255, 0.75);
}

@media (orientation: portrait) and (max-width:720px) {
    section.creator form h1 {
        font-size: 50px;
    }

    section.creator form .name {
        font-size: 15px;
    }

    section.creator form .description {
        font-size: 15px;
    }

    section.creator form button {
        margin-top: 5px;
        padding: 2px;
        font-size: 15px;
    }
}

section.array {
    margin: 30px auto;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

section.array .first {
    background-color: rgb(0, 183, 255);
    font-weight: 700;
    font-size: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}


.table td,
tr {
    font-size: 20px;
    border: 1px solid #ddd;
    padding: 5px 12px;
    text-align: center;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
}

.table tbody tr:nth-child(even) td {
    background-color: #f3f3f3;
}

.table td.second {
    width: 10%;
}

.table td.fas {
    height: 100%;
    width: 100%;
    color: red;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.table td.maxW {
    width: 15vh;
    word-wrap: break-word;
}

@media (orientation: portrait) and (max-width:750px) {
    section.array .first {
        font-size: 15px;
    }

    .table td,
    tr {
        font-size: 15px;
        border: 1px solid #ddd;
        padding: 2px 6px;
        max-width: 150px;
    }
}

@media (orientation: portrait) and (max-width:420px) {

    .table td,
    tr {
        max-width: 100px;
    }
}

section.number {
    position: fixed;
    top: 30px;
    right: 30px;
    border: 1px solid black;
    height: 100px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0, 183, 255);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

section.number div.register {
    font-size: 20px;
    text-decoration: underline;
}

section.number span {
    margin: 10px auto;
    display: block;
    font-size: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    background-color: white;
}

@media (orientation: portrait) and (max-width:720px) {
    section.number {
        top: 70px;
        right: 20px;
        height: 80px;
        width: 70px;
    }

    section.number div.register {
        font-size: 15px;
    }

    section.number span {
        margin: 5px auto;
        font-size: 20px;
        width: 50px;
    }

}

@keyframes animation1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}